@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --color-sacbe: #297da9;
}

/* ========================================
  Animation: Button Pulse (LOOP)
  ======================================== */
@keyframes pulseLoop {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}
.btn-pulse {
  animation: pulseLoop 2s infinite;
}

@keyframes ping-sacbe {
  0% {
    transform: scale(1); /* inicia en tamaño normal */
    opacity: 0.5; /* muy visible al inicio */
    background-color: #ffffff; /* color cian llamativo */
  }
  100% {
    transform: scale(1.2); /* crece 4x, MUY grande */
    opacity: 0; /* desaparece */
    background-color: #ffffff; /* cambia a magenta antes de desaparecer */
  }
}

/* 2️⃣ Creamos la clase utilitaria para aplicarlo */
.animate-ping-sacbe {
  animation: ping-sacbe 2s ease-out infinite;
  /* 4s = muy lento para notar claramente el efecto */
}
